# 关键词搜索
Kaggle竞赛题：https://www.kaggle.com/c/home-depot-product-search-relevance

In [20]:
%config ZMQInteractiveShell.ast_node_interactivity='all'
import sys
import os
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor, BaggingRegressor
from nltk.stem.snowball import SnowballStemmer

In [25]:
file_path = '/Users/yangpan 1/works/recsys/nlp/search_relevance/input'
df_train = pd.read_csv(os.path.join(file_path, 'train.csv'), encoding="ISO-8859-1")
df_test = pd.read_csv(os.path.join(file_path, 'test.csv'), encoding="ISO-8859-1")
df_desc = pd.read_csv(os.path.join(file_path, 'product_descriptions.csv'))

In [26]:
df_train.shape
df_test.shape
df_desc.shape

(74067, 5)

(166693, 4)

(124428, 2)

In [31]:
df_train.head(2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>product_uid</th>
      <th>product_title</th>
      <th>search_term</th>
      <th>relevance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>angle bracket</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>l bracket</td>
      <td>2.5</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:
df_test.head(2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>product_uid</th>
      <th>product_title</th>
      <th>search_term</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>90 degree bracket</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>metal l brackets</td>
    </tr>
  </tbody>
</table>
</div>

In [35]:
df_desc.head(2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>product_uid</th>
      <th>product_description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100001</td>
      <td>Not only do angles make joints stronger, they ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>100002</td>
      <td>BEHR Premium Textured DECKOVER is an innovativ...</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
df_all = pd.concat((df_train, df_test), axis=0, ignore_index=True)
df_all.shape
df_all.head(3)

(240760, 5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>product_uid</th>
      <th>product_title</th>
      <th>search_term</th>
      <th>relevance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>angle bracket</td>
      <td>3.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>l bracket</td>
      <td>2.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>9</td>
      <td>100002</td>
      <td>BEHR Premium Textured DeckOver 1-gal. #SC-141 ...</td>
      <td>deck over</td>
      <td>3.0</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
df_all = pd.merge(df_all, df_desc, how='left', on='product_uid')
df_all.shape
df_all.head(2)

(240760, 6)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>product_uid</th>
      <th>product_title</th>
      <th>search_term</th>
      <th>relevance</th>
      <th>product_description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>angle bracket</td>
      <td>3.0</td>
      <td>Not only do angles make joints stronger, they ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>100001</td>
      <td>Simpson Strong-Tie 12-Gauge Angle</td>
      <td>l bracket</td>
      <td>2.5</td>
      <td>Not only do angles make joints stronger, they ...</td>
    </tr>
  </tbody>
</table>
</div>

### 文本预处理

In [36]:
stemmer = SnowballStemmer('english')

def str_stemmer(s):
    return " ".join([stemmer.stem(word) for word in s.lower().split()])

def str_common_word(str1, str2):
    return sum(int(str2.find(word)>=0) for word in str1.split())

In [ ]:
df_all['search_term'] = df_all['search_term'].map(lambda x:str_stemmer(x))
df_all['product_title'] = df_all['product_title'].map(lambda x:str_stemmer(x))
df_all['product_description'] = df_all['product_description'].map(lambda x:str_stemmer(x))